#home {
  display: flex;
  justify-content: space-between;

  main {
    position: relative;
    flex: 1;
    color: var(--color-light);
    background: var(--color-dark-grey);

    #music-player {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  main {
    padding: var(--main-padding-y) var(--main-padding-x);
  }
}
