#home {
  display: flex;
  justify-content: space-between;

  main {
    position: relative;
    flex: 1;
    color: var(--color-light);
    background: var(--color-dark-grey);
    max-width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    #music-player {
      position: sticky;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  // main {
  //   padding: var(--main-padding-y) var(--main-padding-x);
  // }
}
