<section id="music-player" class="shadow-top">
  <div class="song-sect">
    <div class="media">
      <img src="assets/images/placeholder-album.jpg" alt="">
    </div>
    <div class="info">
      <h4>Fix You</h4>
      <p>Coldplay</p>
    </div>
  </div>

  <div class="controls-sect">
    <div class="controls">
      <button type="button">
        <span class="material-icons">
          shuffle
        </span>
      </button>
      <button type="button">
        <span class="material-icons">
          skip_previous
        </span>
      </button>
      <button *ngIf="isMusicPlaying" type="button" class="main" (click)="onMusicPause()">
        <span class="material-icons">
          pause
        </span>
      </button>
      <button *ngIf="!isMusicPlaying" type="button" (click)="onMusicPlay()">
        <span class="material-icons">
          play_arrow
        </span>
      </button>
      <button type="button">
        <span class="material-icons">
          skip_next
        </span>
      </button>
      <button type="button">
        <span class="material-icons">
          repeat
        </span>
      </button>
    </div>

    <div class="progress">
      <div class="completed"></div>
    </div>
  </div>

  <div class="volume-sect">
    <button type="button">
      <span class="material-icons">
        volume_up
      </span>
    </button>
    <div class="progress">
      <div class="completed"></div>
    </div>
  </div>
</section>
