/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation slide-error
 * ----------------------------------------
 */
@-webkit-keyframes slide-error {
  0% {
    -webkit-transform: translateY(-27px);
    transform: translateY(-27px);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-error {
  0% {
    -webkit-transform: translateY(-27px);
    transform: translateY(-27px);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-top {
  -webkit-animation: slide-top 0.4s ease-in-out both;
  animation: slide-top 0.4s ease-in-out both;
}
.slide-left {
  -webkit-animation: slide-left 0.4s ease-in-out both;
  animation: slide-left 0.4s ease-in-out both;
}
.slide-right {
  -webkit-animation: slide-right 0.4s ease-in-out both;
  animation: slide-right 0.4s ease-in-out both;
}
.slide-error {
  -webkit-animation: slide-error 0.4s ease-in-out both;
  animation: slide-error 0.4s ease-in-out both;
}
@mixin slide-error {
  -webkit-animation: slide-error 0.4s ease-in-out both;
  animation: slide-error 0.4s ease-in-out both;
}
