h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
small {
  font-size: 12px;
}

.matPrimaryDialogClass {
  .mat-dialog-container {
    background-color: var(--color-dark-grey);
    border-radius: var(--border-radius);
    padding: 3rem;
  }
}

.matDeleteDialogClass {
  .mat-dialog-container {
    background-color: var(--color-dark-grey);
    border-radius: var(--border-radius);
    padding: 2.5rem;
  }
}

.mat-stroked-button {
  border: 2px solid !important;
}
