:root {
  /* Colors */
  // --color-primary: #004c68;
  // --color-dark-grey-400: #202020;
  // --color-dark-grey: #1a1a1a;
  // --color-dark-grey-600: #141414;
  // --color-red: #ff1d1d;
  // --color-light: #eeeeee;
  // --color-light-600: #bbbbbb;
  // --color-light-grey: #707070;
  // Alternate
  --color-primary: #004c68;
  --color-dark-grey-400: #262626;
  --color-dark-grey: #1a1a1a;
  --color-dark-grey-600: #0d0d0d;
  --color-red: #d23a32;
  --color-light: #e6e6e6;
  --color-light-600: #b3b3b3;
  --color-light-grey: #737373;

  /* Paddings */
  --main-padding-x: 3.75rem;
  --main-padding-y: 3.125rem;

  /* Borders */
  --border-radius: 0.625rem;

  /* Transition */
  --transition: all 0.2s ease-in-out;
}

/* Shadow Mixin */
@mixin default-shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
}

@mixin hover-shadow {
  -webkit-box-shadow: 0 10px 24px rgba(0, 0, 0, 0.23),
    0 6px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 24px rgba(0, 0, 0, 0.23),
    0 6px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.23), 0 6px 10px rgba(0, 0, 0, 0.2);
}

@mixin default-shadow-inner {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.12);
}

@mixin top-shadow {
  -webkit-box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.25);
}
