:root {
  /* Colors */
  --color-primary: #004c68;
  --color-dark-grey-400: #202020;
  --color-dark-grey: #1a1a1a;
  --color-dark-grey-600: #141414;
  --color-red: #ff1d1d;
  --color-light: #eeeeee;
  --color-light-grey: #707070;
}
