#add_music {
  h3 {
    margin-bottom: 2rem;
  }

  section:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  button {
    text-transform: uppercase;
    font-size: 15px;
    padding: 0.1rem 1.5rem;
    width: 110px;
    height: 43px;

    i {
      margin-bottom: 4px;
    }

    &:first-child {
      margin-right: 2rem;
    }
  }
}
