<div id="login">
  <div class="row">
    <section class="col-12">
      <h1>Sign in to WebPaddle</h1>
    </section>

    <!-- Social Logins -->
    <section class="social-opts col-12">
      <div class="col-6" matRipple (click)="auth$.signInGoogle()">
        <div>
          <img src="assets/images/google-logo.png" alt="">
          <p>Login with Google</p>
        </div>
      </div>

      <div class="col-6" matRipple (click)="auth$.signInFacebook()">
        <div>
          <img src="assets/images/facebook-logo.png" alt="">
          <p>Login with Facebook</p>
        </div>
      </div>
    </section>

    <!-- Separator -->
    <section class="separator">
      <h5>OR</h5>
    </section>

    <form class="row">
      <!-- Email -->
      <section class="col-12">
        <div class="form-group">
          <input type="email" id="email" placeholder="Email">
        </div>
      </section>

      <!-- Password -->
      <section class="col-12">
        <div class="form-group">
          <input matRipple type="password" id="password" placeholder="Password">
        </div>
      </section>

      <!-- Remember Me & Forgot Password -->
      <section class="rm-fg col-12">
        <div class="form-group inline">
          <label for="rememberMe" class="container">Remember me
            <input type="checkbox" name="Remember me" id="rememberMe">
            <span matRipple class="checkmark"></span>
          </label>
        </div>

        <a>Forgot Password?</a>
      </section>

      <!-- Login Btn -->
      <section class="col-12">
        <button type="submit" mat-raised-button color="primary">Sign In</button>
        <p>Don't have an account? <u [routerLink]="['/auth/register']">Sign up</u></p>
      </section>

    </form>
  </div>
</div>
