<div id="login">
  <form>
    <div class="row">
      <div class="col-12">
        <h1>Sign in to WebPaddle</h1>
      </div>

      <!-- Separator -->
      <div class="separator">
        <h3>OR</h3>
      </div>

      <!-- Email -->
      <div class="col-12">
        <div class="form-group">
          <input type="email" id="email" placeholder="Email">
        </div>
      </div>

      <!-- Password -->
      <div class="col-12">
        <div class="form-group">
          <input type="password" id="email" placeholder="Password">
        </div>
      </div>

    </div>
  </form>
</div>
