#dashboard {
  color: var(--color-light);
  min-height: var(--min-height);
  padding: var(--main-padding-y) var(--main-padding-x);

  section {
    margin-bottom: 4rem;

    h3 {
      margin-bottom: 1.5rem;
    }

    .items-sect {
      display: flex;
      align-items: center;
      overflow: hidden;
      max-height: 8rem;
      flex-wrap: wrap;

      .item {
        width: 11rem;
        height: 8rem;
        border-radius: var(--border-radius);

        &:first-child {
          margin-right: 1.7rem;
        }

        &:not(:first-child) {
          margin-left: 0.85rem;
          margin-right: 0.85rem;
        }

        img {
          height: 100%;
          width: 100%;
          border-radius: var(--border-radius);
          object-fit: fill;
        }
      }
    }
  }
}
