@use '../../../../styles/animations';

@mixin box-shadow-hover {
  -webkit-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2),
    0 2px 8px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2),
    0 2px 8px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2), 0 2px 8px 4px rgba(0, 0, 0, 0.1);
}

@mixin ripple-effect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

#authentication {
  background: var(--color-dark-grey);
  color: var(--color-light);
  min-height: var(--min-height);
  padding: var(--main-padding-y) var(--main-padding-x);
  max-width: 90%;
  margin: auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &:first-child {
        font-size: 1.075rem;

        li {
          margin-right: 2rem;

          &:first-child {
            margin-right: 3.5rem;
            img {
              width: 11rem;
            }
          }
        }
      }

      &:last-child {
        li.auth {
          a.login {
            display: inline-block;
            text-align: center;
            margin-left: 2rem;
            margin-right: 2rem;
            border: 2px solid var(--color-light-600);
            border-radius: 5rem;
            padding-top: 7px;
            padding-bottom: 7px;
            width: 6rem;
            color: var(--color-light-600);
            text-decoration: none;
            cursor: pointer;

            @include ripple-effect();

            &:hover {
              color: var(--color-light);
              border-color: var(--color-light);
              transition: all 0.2s ease-in-out;
            }
          }

          a.signup {
            display: inline-block;
            text-align: center;
            background: var(--color-primary);
            border-radius: 5rem;
            padding-top: 9px;
            padding-bottom: 9px;
            width: 6rem;
            color: var(--color-light);

            @include ripple-effect();
            @include box-shadow-hover();
          }
        }
      }

      li:not(.auth) {
        margin-right: 2rem;

        a {
          color: var(--color-light-600);
          text-decoration: none;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          fa-icon {
            color: var(--color-light-600);
            font-size: 1.4rem;
            transition: all 0.2s ease-in-out;

            &:hover {
              color: var(--color-light);
              // transition: all 0.2s ease-in-out;
            }
          }

          &:hover {
            color: var(--color-light);
            // transition: all 0.2s ease-in-out;
          }
        }
      }
    }
  }

  main {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: url("/assets/images/faded-background-image.png") 100% 55%
      no-repeat;
    // filter: brightness(0.7);
    margin-top: 4rem;
  }
}

#signup,
#login {
  z-index: 1;
  width: 40%;
  margin: auto;

  h1 {
    color: var(--color-light);
    margin-bottom: 2rem;
  }

  .separator {
    margin: 2rem 0;
    width: 100%;

    h5 {
      text-align: center;
      width: 60%;
      margin: auto;
      padding: 0 1rem;
      color: var(--color-light-grey);

      display: flex;
      align-items: center;

      &:before,
      &:after {
        content: "";
        flex: 1;
        height: 1px;
        margin: 0 1em;
        background: var(--color-light-grey);
      }
    }
  }

  section {
    margin-bottom: 1.5rem;

    &.social-opts {
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > div {
        height: 3.5rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        border-radius: var(--border-radius-sm);
        transition: all 0.2s ease-in-out;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.9rem;

          img {
            width: 1.8rem;
            margin-right: 0.5rem;
          }
        }

        &:first-child {
          margin-right: 1.5rem;
          border: 2px solid #1976d2;
        }

        &:last-child {
          margin-left: 1.5rem;
          border: 2px solid #039be5;
        }

        &:hover {
          color: var(--color-light);
          background: rgba(255, 255, 255, 0.03);
        }
      }
    }

    &.rm-fg {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          text-decoration: underline;
          color: var(--color-light);
        }
      }
    }

    &:last-child {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 0;

      button {
        width: 15rem;
        height: 3rem;
        line-height: 1px;
        font-size: 1rem;
        letter-spacing: 0.5px;
        font-weight: 400;
      }

      p {
        color: var(--color-light-600);
        u {
          cursor: pointer;
          color: var(--color-light);
          transition: all 0.2s ease-in-out;

          &:hover {
            color: var(--color-light-400);
          }
        }
      }
    }
  }

  /* MQ */
  @media screen and (max-width: 1500px) {
    width: 50%;
  }
  @media screen and (max-width: 1300px) {
    width: 63%;
  }
  @media screen and (max-width: 1100px) {
    width: 80%;
  }
}
