<aside id="sidebar">
  <div class="logo">
    <span class="material-icons">rowing</span>
  </div>
  <div>
    <section [routerLink]="['/home/dashboard']" routerLinkActive="active">
      <span class="material-icons">dashboard</span>
    </section>
    <section [routerLink]="['/home/bookmarks']" routerLinkActive="active">
      <span class="material-icons">bookmark</span>
    </section>
    <section [routerLink]="['/home/music']" routerLinkActive="active">
      <span class="material-icons">library_music</span>
    </section>
    <section [routerLink]="['/home/radio']" routerLinkActive="active">
      <span class="material-icons">radio</span>
    </section>
  </div>
  <div>
    <section [routerLink]="['/home/settings']" routerLinkActive="active">
      <span class="material-icons">settings</span>
    </section>
  </div>
</aside>
