<aside id="sidebar">
  <div class="logo">
    <span class="material-icons">rowing</span>
  </div>
  <div>
    <section *ngFor="let item of navItems.slice(0, -1)" [routerLink]="[item.url]" routerLinkActive="active">
      <span class="material-icons" [matTooltip]="item.tooltip" [matTooltipShowDelay]="tooltipDelay">{{item.icon}}</span>
    </section>
  </div>
  <div>
    <section *ngFor="let item of navItems.slice(-1)" [routerLink]="[item.url]" routerLinkActive="active">
      <span class="material-icons" [matTooltip]="item.tooltip" [matTooltipShowDelay]="tooltipDelay">{{item.icon}}</span>
    </section>
  </div>
</aside>
