/* Material Custom Theme */
@import "./styles/theme";
/* Import Google Fonts Lato: 300, 400, 700 */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");

/* SASS Styling imports */
@import "./styles/variables";

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 768px;
  min-height: 600px;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

p {
  font-weight: 400;
}

small {
  font-weight: 300;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  outline: none;
}

.default-card-shadow {
  @include default-shadow();
  transition: var(--transition);
  &:hover {
    @include hover-shadow();
  }
}

.shadow-inner {
  @include default-shadow-inner();
}

.shadow-top {
  @include top-shadow();
}

/* Scrollbar Styling */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-dark-grey-600);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-dark-grey-400);
  border-radius: var(--border-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-grey);
  border-radius: var(--border-radius);
}
