<div id="news" class="default-card-shadow" matRipple [matTooltip]="newsData.title"
  [matTooltipPosition]="_helpers.newsToolTipPosition" (click)="_helpers.openLinkInNewTab(newsData.url)">
  <div>
    <div class="media">
      <img src="{{newsData.urlToImage ? newsData.urlToImage : 'assets/images/news-placeholder.svg'}}" alt="thumbnail">
    </div>

    <div class="content">
      <div class="news">
        <h6 class="text-sl">{{newsData.title}}</h6>
        <p>{{newsData.description}}</p>
      </div>

      <div class="source">
        <!-- <img [src]="newsData.source.logo" alt="img"> -->
        <small>{{newsData.source.name}}</small>
      </div>
    </div>
  </div>
</div>
