<div id="bookmarks" (scroll)="onWindowScroll($event)">
  <section>
    <header>
      <h2>Bookmarks</h2>
      <button mat-raised-button color="primary">
        <i class="material-icons">add</i> Add Bookmark
      </button>
    </header>

    <main>
      <div class="items-sect">
        <div class="item default-card-shadow" matRipple *ngFor="let bookmark of bookmarks.items">
          <img [src]="bookmark.thumbnail" alt="img">
        </div>
      </div>
    </main>

    <!-- Fab Button -->
    <button mat-flat-button class="fab-button" color="primary"><i class="material-icons">add</i></button>
  </section>
</div>
